Repository numpy/numpy.org, pull requests merged in 2020-04, with the labels that each got.

#209 [WIP] Updates colors to only colors in the NumPy color palette
  README.md
  static/css/section2.css
  static/css/section3.css
  static/css/shell.css
  static/css/styles.css
  static/css/tabs.css
Labels: design

#205 Add a NumPy Team
  content/en/about.md
  content/en/team.md
  scripts/gallery/__init__.py
  scripts/gallery/_templates/layout.html
  scripts/gallery/cache/numpy_team.context
  scripts/gallery/numpy_team.py
  scripts/gallery/numpy_team.yml
  scripts/gallery/team.md
  static/gallery/team.html
Labels: content, enhancement

#174 Ref #gh_164 First draft of Cricket analytics using NumPy
  config.yaml
  content/en/case-studies/blackhole-image.md
  content/en/case-studies/cricket-analytics.md
  content/en/case-studies/gw-discov.md
  static/images/content_images/cs/cricket-pitch.png
  static/images/content_images/cs/ipl-stadium.png
  static/images/content_images/cs/numpy_ca_benefits.png
  static/images/content_images/cs/player-pose-estimator.png
Labels: content
