Repository numpy/numpy.org, pull requests merged in 2020-12, with the labels that each got.

#371 Update the link to PyQuil
  layouts/partials/scientific-domains.html
Labels: content, maintenance

#318 ecosystem: remove 3D viz from domains?
  layouts/partials/scientific-domains.html
  static/images/content_images/sc_dom_img/sd5.png
Labels: maintenance

#344 Add PyVista to list of visualization software in the ecosystem
  layouts/partials/visualization.html
  static/images/content_images/v_bokeh.png
  static/images/content_images/v_pyvista.png
Labels: content

#372 Add a link to opensource.guide/contribute on Contribute page
  content/en/contribute.md
Labels: content

#314 DOC: Add links and tighten Contribute page
  content/en/contribute.md
Labels: content, maintenance

#373 Install page update
  content/en/install.md
Labels: content

#294 DOC: Edit of Black Hole case study
  content/en/case-studies/blackhole-image.md
Labels: content

#374 Add network/graph category
  layouts/partials/scientific-domains.html
  static/images/content_images/sc_dom_img/graph.py
  static/images/content_images/sc_dom_img/sd6.png
  static/images/content_images/sc_dom_img/sd6.svg
Labels: content
