Repository numpy/numpy.org, pull requests merged in 2021-06, with the labels that each got.

#444 Resolved issue #443: UnicodeEncodeError
  gen_config.py
Labels: maintenance

#447 Add a page with the 2020 NumPy community survey results
  content/en/user-survey-2020.md
  static/surveys/NumPy_usersurvey_2020_report.pdf
  static/surveys/NumPy_usersurvey_2020_report_cover.png
  static/surveys/README.md
Labels: content, enhancement

#448 Add the news about the 2020 NumPy survey results
  content/en/config.yaml
  content/en/news.md
Labels: content
