Repository numpy/numpy.org, pull requests merged in 2021-07, with the labels that each got.

#451 CI: specify Hugo version in netlify.toml
  netlify.toml
Labels: deployment

#450 Add content from Sphinx docs to unify governance pages
  content/en/about.md
Labels: maintenance

#449 Shifting content to en/*.yaml files
  config.yaml.in
  content/en/config.yaml
  content/en/tabcontents.yaml
  content/ja/config.yaml
  content/ja/tabcontents.yaml
  content/pt/config.yaml
  content/pt/tabcontents.yaml
  gen_config.py
  layouts/partials/array-libraries.html
  layouts/partials/data-science.html
  layouts/partials/machine-learning.html
  layouts/partials/scientific-domains.html
  layouts/partials/shell-content.html
  layouts/partials/shell.html
  layouts/partials/visualization.html
Labels: translations

#452 Make an announcement about NumPy 1.21.0 release
  content/en/news.md
Labels: content

#453 Make an announcement about the 2021 NumPy survey
  content/en/config.yaml
  content/en/news.md
Labels: content

#454 Add more releases to News page
  content/en/news.md
Labels: content
