Repository numpy/numpy.org, pull requests merged in 2022-01, with the labels that each got.

#508 Announce the NumPy 1.22.0 release.
  content/en/news.md
Labels: content

#512 Update community.md
  content/en/community.md
Labels: content, maintenance

#510 New gallery
  Makefile
  README.md
  content/en/about.md
  content/en/community.md
  content/en/teams.md
  content/ja/about.md
  content/ja/teams.md
  content/pt/about.md
  content/pt/teams.md
  scripts/gallery/__init__.py
  scripts/gallery/_templates/layout.html
  scripts/gallery/cache/numpy_team.context
  scripts/gallery/numpy_team.py
  scripts/gallery/numpy_team.yml
  scripts/gallery/team.md
  static/gallery/emeritus-maintainers.html
  static/gallery/maintainers.html
  static/gallery/survey-team.html
  static/gallery/team.html
  static/gallery/triage-team.html
  static/gallery/web-team.html
Labels: design
